html {

	body {
		background: $gray;
		font-family: 'Raleway', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

		& * {
			box-sizing: border-box;
		}

		#page {
			background: #fff;
			box-shadow: 0 0 20px rgba(40, 6, 89, 0.15);
			margin: 0 auto;
			max-width: 1600px;
		}
	}
}

@mixin headingFont {
	font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 700;
}

@mixin FontAwesomeRegular {
	font: var(--fa-font-regular);
}

@mixin FontAwesomeSolid {
	font: var(--fa-font-solid);
}