.general-grid {
	display: grid;
	grid-template-columns: 1fr;

	&:not(.large) {

		@media all and (min-width: 760px) and (max-width: 1199.98px) {
			grid-template-columns: 1fr 1fr;

			.grid-item:nth-child(odd) {
				border-right: 1px dashed $border_over_white;
			}
		}

		@media all and (min-width: 1200px) and (max-width: 1799.98px) {
			grid-template-columns: repeat( 3, 1fr );

			.grid-item:not(:nth-child(3n)) {
				border-right: 1px dashed $border_over_white;
			}
		}

		@media all and (min-width: 1800px) {
			grid-template-columns: repeat( 4, 1fr );

			.grid-item:not(:nth-child(4n)) {
				border-right: 1px dashed $border_over_white;
			}
		}
	}

	&.large {

		@media all and (min-width: 760px) and (max-width: 1799.98px) {
			grid-template-columns: 1fr 1fr;

			.grid-item:nth-child(odd) {
				border-right: 1px dashed $border_over_white;
			}
		}

		@media all and (min-width: 1800px) {
			grid-template-columns: repeat( 3, 1fr );

			.grid-item:not(:nth-child(3n)) {
				border-right: 1px dashed $border_over_white;
			}
		}
	}

	&.three-col {

		@media all and (min-width: 1800px) {
			grid-template-columns: repeat( 3, 1fr );

			.grid-item:not(:nth-child(3n)) {
				border-right: 1px dashed $border_over_white;
			}
		}
	}

	.grid-item {
		border-bottom: 1px dashed $border_over_white;
		padding: 2rem;

		@media all and (min-width: 980px) {
			padding: 2.75rem 4.5rem;
		}

		@media all and (min-width: 1400px) {
			padding: 3.5rem 4.5rem;
		}

		.grid-item-content {
			display: flex;
			flex-direction: column;
			height: 100%;

			.post-thumbnail {
				margin-bottom: 1.5rem;

				img {
					border-radius: 10px;
				}
			}

			.grid-item-title {
				display: block;
				font-size: 1rem;
				font-weight: 700;
				line-height: 1.5;
				margin-bottom: 12px;

				@media (min-width: 1090px) {
					font-size: 1.15rem;
				}

				a {
					color: $color2;
					font-size: 1.35rem;
					font-weight: 700;
					text-decoration-color: $color5;
				}
			}

			.grid-item-description {
				flex: 1 0 auto;
				font-size: 17px;

				&:not(:last-child) {
					margin-bottom: 1.5rem;
				}

				ul,
				ol {
					margin: 0;
					padding: 0;
					padding-left: 24px;

					li {
						font-size: .85rem;
						font-weight: 600;
						padding: 4px 0 6px;

						&:not(:last-child) {
							padding-bottom: .25rem;
						}
					}
				}
			}
		}
	}
}