#site-navigation {

	.menu-toggle {
		background: none;
		border: 0;
		color: $body;
		cursor: pointer;
		font-size: 1.76rem;
		padding: 0;
		position: absolute;
		right: 1.2rem;
		top: 1rem;
		transition: all .3s;

		@media all and (min-width: 540px) {
			right: 2rem;
		}

		@media all and (min-width: 1200px) {
			display: none;
			right: 4.5rem;
		}

		&:active,
		&:focus,
		&:hover {
			color: $color5;
			transform: scale(1.2);
		}
	}

	#primary-menu {
		list-style-type: none;
		margin: 0;
		padding: 0;

		.menu-item {

			a {
				font-size: .88rem;
				font-weight: 600;
				text-decoration: none;
			}

			&.current-menu-item {

				a {

					&:active,
					&:focus,
					&:hover {
						cursor: text;
					}
				}
			}
		}
	}

	&:not(.toggled) {

		#primary-menu {
			display: none;

			@media all and (min-width: 1200px) {
				column-gap: 1.5rem;
				display: flex;
				text-align: right;
			}

			.menu-item {

				a {
					color: $color2;

					&:active,
					&:focus,
					&:hover {
						color: $color6;
					}
				}

				&.current-menu-item {

					a {
						color: $color6;
					}
				}

				&.members-menu-item {

					a {

						[class*="fa-"] {
							margin-left: 1rem;
							margin-right: 4px;
						}
					}
				}
			}
		}
	}

	&.toggled {

		& > [class*="-container"] {
			background: #fff;
			position: absolute;
			top: 1rem;
			right: 1rem;
		}

		#primary-menu {
			display: flex;
			flex-direction: column-reverse;
			flex-wrap: wrap;
			width: 200px;

			.menu-item {

				a {
					color: $body;
					display: block;
					font-weight: 600;
					padding: 10px;
					text-decoration: none;

					&:active,
					&:focus,
					&:hover {
						color: $color5;
					}
				}
			}
		}
	}
}

.has-dark-header {

	.site-title {

		a {
			color: #fff;
		}
	}

	#site-navigation {

		.menu-toggle {
			color: #fff;
		}

		#primary-menu {

			.menu-item {

				a {

					&:active,
					&:focus,
					&:hover {
						color: #fff;
					}
				}

				&.current-menu-item {

					a {
						color: #fff;
					}
				}
			}
		}
	}
}

.has-purple-header {

	.site-header {

		#site-navigation {

			&:not(.toggled) {

				#primary-menu {

					.menu-item {

						a {
							color: $body_over_purple;

							&:active,
							&:focus,
							&:hover {
								color: $color6;
							}
						}

						&.current-menu-item {

							a {
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
}

.has-pink-header {

	.site-header {

		#site-navigation {

			&:not(.toggled) {

				#primary-menu {

					.menu-item {

						a {
							color: $body_over_pink;

							&:active,
							&:focus,
							&:hover {
								color: #fff;
							}
						}

						&.current-menu-item {

							a {
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
}

.posts-navigation {

	.nav-links {
		display: grid;
		grid-template-columns: 1fr 1fr;

		.nav-previous,
		.nav-next {

			a {
				@include headingFont;
				color: $headings;
				font-size: .75rem;
				font-weight: 800;
				text-decoration: none;
				text-transform: uppercase;

				&:active,
				&:focus,
				&:hover {
					color: $color5;
				}
			}
		}

		.nav-previous {

			& + .nav-next {
				text-align: right;
			}
		}
	}
}

.post-navigation {

	.nav-links {
		display: grid;
		row-gap: 1.5rem;
		grid-template-columns: 1fr;

		@media all and (min-width: 980px) {
			column-gap: 5rem;
			grid-template-columns: 1fr 1fr;
		}

		.nav-previous,
		.nav-next {

			a {
				text-decoration: none;
			}

			.nav-subtitle {
				@include headingFont;
				color: $headings;
				display: block;
				font-size: .75rem;
				font-weight: 800;
				text-transform: uppercase;

				&:active,
				&:focus,
				&:hover {
					color: $headings;
				}
			}

			.nav-title {
				color: $color5;
				font-size: .88rem;
				text-decoration: underline;
				text-decoration-style: dotted;
				text-decoration-thickness: 2px;

				&:active,
				&:focus,
				&:hover {
					text-decoration-style: solid;
				}
			}
		}

		.nav-previous {

			@media all and (min-width: 980px) {

				& + .nav-next {
					text-align: right;
				}
			}
		}
	}
}