.page-header,
.entry-header {

	.page-header-title,
	.entry-title {
		font-weight: 800;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.page-header-title-label {
		color: $color5;
		display: block;
		font-size: 1.1rem;
	}

	.page-header-description {
		display: grid;
		grid-template-columns: 1fr;

		@media all and (min-width: 760px) {
			grid-template-columns: 3fr 1fr;
		}

		@media all and (min-width: 980px) {
			grid-template-columns: 3fr 2fr;
		}
	}

	.search-form {
		margin-top: 2rem;

		input {

			@media all and (min-width: 760px) {
				max-width: 50%;
			}
		}
	}
}

.background-purple {

	.page-header-title-label {
		color: $body_over_purple;
	}
}

.background-pink {

	.page-header-title-label {
		color: $body_over_pink;
	}
}