.subscribe-cta {
	background-image: linear-gradient( to right, rgba(52, 22, 113, 1) 0%, rgba(52, 22, 113, 1) 10%, rgba(52, 22, 113, 0.8) 100% ), url("assets/images/annie-spratt-subscribe-unsplash.jpg");
	background-size: 100% auto;
	background-position-x: 6rem;
	background-position-y: 80%;
	background-repeat: no-repeat;

	.subscribe-content-wrap {
		display: grid;
		grid-template-columns: 1fr;

		@media all and (min-width: 760px) {
			grid-template-columns: 5fr 2fr;
		}

		@media all and (min-width: 960px) {
			grid-template-columns: 5fr 3fr;
		}

		@media all and (min-width: 1400px) {
			grid-template-columns: 1fr 1fr;
		}

		.subscribe-content {

			.subscribe-title {
				color: #fff;
				font-weight: 800;
			}

			.subscribe-description {

				p {

					@media all and (min-width: 1200px) {
						max-width: 90%;
					}

					@media all and (min-width: 1400px) {
						max-width: 85%;
					}
				}
			}

			.subscribe-form-container {

				.gform_wrapper {

					&.gravity-theme {

						.gform_body {

							.gfield {
								margin-bottom: 0;

								.gfield_label {
									color: #fff;
									font-size: .88rem;
									font-weight: 700;
									margin-bottom: .35rem;

									.gfield_required {
										display: none;
									}
								}
							}
						}

						input[type="submit"] {
							background-color: transparent;

							&:active,
							&:focus,
							&:hover {
								background-color: $color6;
								border-color: $color6;
								color: #fff;
								text-decoration-color: $color6;
							}
						}

						.gform_footer {
							padding-bottom: 0;
						}
					}
				}
			}
		}
	}
}