.subscribe-cta {
	background-position-x: right;
	background-size: cover;
	background-repeat: no-repeat;

	@media all and (min-width: 760px) {
		background-size: 100% auto;
		background-position-x: 6rem;
		background-position-y: 80%;
	}

	.subscribe-content-wrap {
		display: grid;
		grid-template-columns: 1fr;

		@media all and (min-width: 760px) {
			grid-template-columns: 5fr 2fr;
		}

		@media all and (min-width: 980px) {
			grid-template-columns: 5fr 3fr;
		}

		@media all and (min-width: 1400px) {
			grid-template-columns: 1fr 1fr;
		}

		.subscribe-content {

			.subscribe-title {
				color: #fff;
				font-weight: 800;
			}

			.subscribe-description {

				p {

					@media all and (min-width: 1200px) {
						max-width: 90%;
					}

					@media all and (min-width: 1400px) {
						max-width: 85%;
					}
				}
			}

			.subscribe-form-container {

				.gform_wrapper {

					&.gravity-theme {

						.gform_body {

							.gfield {
								margin-bottom: 0;

								.gfield_label {
									color: #fff;
									font-size: .88rem;
									font-weight: 700;
									margin-bottom: .35rem;

									.gfield_required {
										display: none;
									}
								}
							}

							.ginput_container_email {
								max-width: 400px;

								input {
									padding: 11px 9px;
								}
							}
						}

						input[type="submit"] {

							@media all and (min-width: 980px) {
								font-size: .95rem;
							}
						}

						.gform_footer {
							padding-bottom: 0;
						}
					}
				}

				.gform_confirmation_message {
					background-color: rgba(255,255,255,.15);
					padding: 1.5rem;
					border-radius: 11px;
				}
			}
		}
	}
}

.footer-lead-cta {

	p {

		& + .button {
			margin-top: .75rem;
		}
	}
}