.inner {
	margin: 0 auto;
	padding: 3.5rem 2rem;

	@media all and (min-width: 980px) {
		padding-left: 4.5rem;
		padding-right: 4.5rem;
	}

	&.tiny {
		padding-bottom: 1rem;
		padding-top: 1rem;
	}

	&.small {
		padding-bottom: 3rem;
		padding-top: 3rem;
	}

	&.medium {

		@media all and (min-width: 760px) {
			padding-bottom: 4.5rem;
			padding-top: 4.5rem;
		}

		@media all and (min-width: 980px) {
			padding-bottom: 5.5rem;
			padding-top: 5.5rem;
		}
	}

	&.large {

		@media all and (min-width: 760px) {
			padding-bottom: 4.5rem;
			padding-top: 4.5rem;
		}

		@media all and (min-width: 980px) {
			padding-bottom: 6rem;
			padding-top: 6rem;
		}

		@media all and (min-width: 1200px) {
			padding-bottom: 8rem;
			padding-top: 8rem;
		}

		@media all and (min-width: 1400px) {
			padding-bottom: 9rem;
			padding-top: 9rem;
		}
	}

	&.no-vertical-spacing {
		padding-bottom: 0;
		padding-top: 0;
	}

	&.no-max-width {
		max-width: unset;
		padding-left: 0;
		padding-right: 0;
	}

	&.no-spacing {
		max-width: unset;
		padding: unset;
	}
}

.element-spacing {
	padding: 3.5rem 2rem;

	@media all and (min-width: 980px) {
		padding-left: 4.5rem;
		padding-right: 4.5rem;
	}

	&.tiny {

		@media all and (min-width: 980px) {
			padding-bottom: 1rem;
			padding-top: 1rem;
		}
	}

	&.small {

		@media all and (min-width: 980px) {
			padding-bottom: 3rem;
			padding-top: 3rem;
		}
	}

	&.medium {

		@media all and (min-width: 980px) {
			padding: 4.5rem;
		}
	}

	&.large {

		@media all and (min-width: 1200px) {
			padding: 7rem 4.5rem;
		}
	}
}