.page-about {

	.history-section {

		.history-grid {
			display: grid;
			gap: 2.5rem;
			grid-template-columns: 1fr;

			@media (min-width: 840px) {
				gap: 3.5rem;
				grid-template-columns: 3fr 4fr;

				.history-grid-content {
					order: 2;
				}

				.history-grid-media {
					order: 1;
				}
			}

			@media (min-width: 1200px) {
				gap: 5rem;
				grid-template-columns: 3fr 5fr;
			}

			.history-grid-content {

				@media (min-width: 1200px) {
					padding-top: 1rem;
				}

				.history-title {
					color: $color4;
				}
			}

			.history-grid-media {

				.history-grid-media-inner {
					background-color: #fff;
					box-shadow: 6px 6px 0 rgba(0, 0, 0, .05);
					padding: 3rem;

					.history-image {
						align-items: center;
						display: flex;
						flex-direction: column;
						justify-content: center;

						img {
							border-radius: 50%;
							height: auto;
							margin-bottom: 1rem;
							width: 110px;
						}
					}

					.sean-label {
						text-align: center;

						.name {
							display: block;
							font-weight: 600;
						}

						.title {
							display: block;
							font-size: 15px;
						}
					}

					.link-grid {
						align-items: center;
						display: flex;
						gap: 1rem;
						justify-content: center;

						.github-icon {
							color: $black;
						}

						.wordpress-icon {
							color: #0073AA;
						}

						.homepage-icon {
							color: $color2;
						}

						[class*="fa-"] {
							font-size: 1.5rem;

							&:active,
							&:focus,
							&:hover {
								opacity: .7;
							}
						}
					}

					p {

						&:last-child {
							padding: 2rem 0 0;
							text-align: center;
						}
					}
				}
			}
		}
	}

	.footer-lead-cta {
		text-align: center;
	}
}