.blog {

	.subscribe-cta {

		.subscribe-content-wrap {

			@media all and (min-width: 1400px) {
				grid-template-columns: 5fr 3fr;
			}

			&.element-spacing {

				&.medium {

					@media all and (min-width: 980px) {
						padding-bottom: 5.5rem;
						padding-top: 5.5rem;
					}
				}
			}
		}
	}

	.content-filter-section {
		border-bottom: 1px dashed $border_over_white;

		.content-filter-grid {
			display: flex;
			flex-wrap: wrap;
			gap: 2rem 1rem;

			.facetwp-filter,
			.search-filter {
				height: auto;
				padding-right: 3rem;

				input,
				select {
					max-width: 330px;
				}
			}

			.facetwp-filter {

				.facetwp-facet {
					margin-bottom: 0;
				}
			}

			.search-filter {

			}
		}
	}
}