.page-brand-assets {

	.brand-asset-title {
		font-size: 1.5rem;
		font-weight: 800;
	}

	.colors-grid {
		display: grid;
		gap: 1.5rem;
		grid-template-columns: 1fr 1fr;
		margin-bottom: 4rem;

		@media all and (min-width: 980px) {
			grid-template-columns: repeat( 4, 1fr );
			margin-bottom: 6rem;
		}

		& > [class*="color-"] {
			border-radius: 5px;
			height: 100px;
			padding: 1rem;
			width: 100%;

			&:nth-child(1) {
				background-color: $color1;
			}

			&:nth-child(2) {
				background-color: $color2;
			}

			&:nth-child(3) {
				background-color: $color3;
			}

			&:nth-child(4) {
				background-color: $color4;
			}

			&:nth-child(5) {
				background-color: $color5;
			}

			&:nth-child(6) {
				background-color: $color6;
			}

			&:nth-child(7) {
				background-color: $black;
			}

			&:nth-child(8) {
				background-color: $gray;
			}

			span {
				@include headingFont;
				color: $gray;
			}

			&.light-color {

				span {
					color: $color2;
				}
			}
		}
	}

	.logos-grid {
		display: grid;
		gap: 1.5rem;
		grid-template-columns: 3fr 1fr;
		margin-bottom: 4rem;

		@media all and (min-width: 980px) {
			grid-template-columns: 3fr 2fr 3fr 2fr;
			margin-bottom: 6rem;
		}

		@media all and (min-width: 1200px) {
			grid-template-columns: 3fr 1fr 3fr 1fr;
			margin-bottom: 6rem;
		}

		& > [class*="logo-"],
		& > .logomark {
			border-radius: 5px;
			padding: 2rem;
			position: relative;
			text-align: center;
			width: 100%;
		}

		& > [class*="logo-"] {

			img {
				max-width: 220px;
				vertical-align: bottom;

				@media all and (min-width: 1200px) {
					max-width: 300px;
				}
			}
		}

		.logomark {
			padding-left: 1.25rem;
			padding-right: 1.25rem;

			@media all and (min-width: 980px) {
				padding-left: 2rem;
				padding-right: 2rem;
			}

			img {
				max-height: 47px;

				@media all and (min-width: 1200px) {
					max-height: 63px;
				}
			}
		}
	}
}