.page-front {

	#site-navigation {

		.menu-toggle {
			color: #fff;
		}

		&:not(.toggled) {

			#primary-menu {

				li {

					a {
						color: $body_over_purple;

						&:active,
						&:focus,
						&:hover {
							color: $color6;
						}
					}

					&.current-menu-item {

						a {
							color: #fff;
						}
					}
				}
			}
		}
	}

	.page-header {
		background: $color2;
		color: #fff;

		.page-header-hero {;
			background-size: cover;
			background-repeat: no-repeat;
			flex: 1;

			@media all and (min-width: 1080px) {
				background-size: 110% auto;
				background-position-x: 6rem;
				background-position-y: 0;
			}

			.page-header-hero-inner {
				background-image: linear-gradient(45deg, rgba(102, 15, 86, .4) 0%, rgba(102, 15, 86, .2) 13%, rgba(52,22,113,.6) 40%, rgba(52, 22, 113, .7) 100%);
				height: 100%;

				.what-we-do {

					.content-wrap {
						padding-bottom: 3.5rem;
						padding-top: 3.5rem;

						@media all and (min-width: 760px) {
							padding-bottom: 4.5rem;
							padding-top: 4.5rem;
						}

						@media all and (min-width: 980px) {
							padding-bottom: 5.5rem;
							padding-top: 5.5rem;
						}

						.page-header-title {
							color: #fff;
							font-weight: 800;

							@media all and (min-width: 980px) {
								width: 60%;
							}
						}

						.page-header-description {
							color: $body_over_purple;
							font-size: 1.1rem;
							line-height: 1.8;
							margin-bottom: 2rem;

							@media all and (min-width: 540px) {
								line-height: 1.6;
							}

							@media all and (min-width: 760px) {
								margin-bottom: 2.5rem;
							}
						}
					}
				}
			}
		}

		.services-grid {
			border-bottom: none;
			border-top: 1px dashed $border_over_purple;

			@media all and (min-width: 760px) and (max-width: 1199.98px) {
				grid-template-columns: 1fr;
			}

			@media all and (min-width: 1200px) {
				grid-template-columns: repeat( 3, 1fr );
			}

			.grid-item {

				.grid-item-title {
					font-size: 1.35rem;
				}

				p {
					font-size: 17px;
				}

				.button {
					color: #fff;
				}
			}
		}
	}

	.plugin-integration-section {

		.section-heading {
			border-bottom: 1px dashed $border_over_white;

			@media all and (min-width: 980px) {
				padding-top: 4.5rem;
			}

			@media all and (min-width: 1400px) {
				padding-top: 6rem;
			}
		}

		.advanced-custom-fields-highlight {
			border-bottom: 1px dashed $border_over_white;

			@media all and (min-width: 980px) {
				padding-bottom: 3rem;
				padding-top: 5rem;
			}

			.acf-grid {
				display: grid;
				grid-template-columns: 1fr;

				@media all and (min-width: 1200px) {
					grid-template-columns: 1fr 2fr;
				}

				.acf-highlight-content {
					padding-bottom: 3rem;

					@media all and (min-width: 1200px) {
						padding-bottom: 0;
					}

					.advanced-custom-fields-logo {
						height: 40px;
						margin-bottom: 1rem;
					}

					.acf-highlight-title {
						font-weight: 700;
					}
				}

				.acf-graphic {

					@media all and (min-width: 1200px) {
						padding-left: 4.5rem;
					}
				}
			}
		}

		.facetwp-gravity-forms-grid {
			display: grid;
			grid-template-columns: 1fr;

			@media all and (min-width: 980px) {
				grid-template-columns: 1fr 1fr;
			}

			[class*="-grid-item"] {

				img {
					height: 23px;
					margin-bottom: 1.5rem;
				}

				&:first-child {
					border-bottom: 1px dashed $border_over_white;

					@media all and (min-width: 980px) {
						border-bottom: 0;
						border-right: 1px dashed $border_over_white;
					}
				}

				@media all and (min-width: 1200px) {
					padding-bottom: 5rem;
					padding-top: 5rem;
				}
			}
		}

		.customization-logos-wrap {

			.customizations-title {
				font-size: .75rem;
			}

			/* Customization logos Grid in _shared.scss */
		}
	}

	.theme-development-section {
		font-size: 17px;

		.section-content {

			@media all and (min-width: 1200px) {
				padding-right: 2.75rem;
			}
		}

		.real-data-header {
			border-bottom: 1px dashed $border_over_purple;
			padding-bottom: 2rem;

			.attribution {
				color: #fff;
			}
		}

		.nng-stats-grid {
			border-top: 1px dashed $border_over_purple;

			@media all and (min-width: 760px) and (max-width: 1199.98px) {
				grid-template-columns: 1fr;
			}
		}

		.mock-browser-grid {
			display: grid;
			grid-template-columns: 100%;

			@media (min-width: 1200px) {
				grid-template-columns: 2fr 1fr;
				padding-top: 5rem;
			}

			.mock-browser-wrap {

				@media all and (min-width: 1200px) {
					padding-right: 2.75rem;
				}
			}

			.design-description {
				margin-bottom: 2.5rem;
				padding-top: 4rem;

				@media all and (min-width: 1200px) {
					margin-bottom: 0;
					padding-left: 2.7rem;
					padding-top: 2rem;
				}

				.blurb-title {
					@include headingFont;
					color: #fff;
					font-weight: 700;
				}

				ul {
					padding-left: 24px;

					li {
						color: #fff;
						font-weight: 500;
						padding-bottom: 6px;

						&::marker {
							color: $color6;
						}
					}
				}
			}
		}

		.the-standard-title {
			padding-top: 0;

			span {
				font-size: 1.5rem;
				font-weight: 800;
				line-height: 1.6;
			}
		}

		.standards-grid {
			border-top: 1px dashed $border_over_purple;

			@media all and (min-width: 1200px) {
				grid-template-columns: repeat( 3, 1fr );
			}

			.grid-item {

				p {
					color: $body_over_purple;

					a {
						color: $body_over_purple;
					}
				}
			}
		}
	}

	.courses-section {

		.section-heading {

			@media all and (min-width: 1200px) {
				padding-bottom: 4.5rem;
			}

			.section-description {
				display: grid;
				grid-template-columns: 1fr;

				@media all and (min-width: 980px) {
					grid-template-columns: 5fr 4fr;
				}
			}
		}
	}

	#colophon {
	}
}