.page-front {

	#masthead {
		background-color: $color2;
		border-bottom: 1px dashed $border_over_purple;
		color: $body_over_purple;

		.site-header {

			.site-branding {

				.site-title {

					a {
						color: #fff;
					}
				}

				.description {
					color: $body_over_purple;
					position: relative;
				}
			}

			#site-navigation {

				.menu-toggle {
					color: $color6;
				}

				ul {

					li {

						a {
							color: $body_over_purple;

							&:active,
							&:focus,
							&:hover {
								color: $color6;
							}
						}

						&.current-menu-item {

							a {
								color: #fff;
							}
						}
					}
				}
			}
		}
	}

	.page-header {
		background: $color2;
		color: #fff;

		.page-header-hero {
			background-image: linear-gradient( to right, rgba(52, 22, 113, 1) 0%, rgba(52, 22, 113, 1) 10%, rgba(52, 22, 113, 0.2) 100% ), url("assets/images/annie-spratt-unsplash.jpg");
			background-size: 110% auto;
			background-position-x: 6rem;
			background-position-y: 0%;
			background-repeat: no-repeat;
			flex: 1;

			.page-header-hero-inner {
				background-image: linear-gradient(45deg, rgba(102, 15, 86, .4) 0%, rgba(102, 15, 86, .2) 13%, rgba(52,22,113,.6) 40%, rgba(52, 22, 113, .7) 100%);
				height: 100%;

				.what-we-do {

					.content-wrap {
						padding-bottom: 3.5rem;
						padding-top: 3.5rem;

						.page-header-title {
							color: #fff;
							font-weight: 800;

							@media all and (min-width: 980px) {
								width: 60%;
							}
						}

						.page-header-description {
							color: $body_over_purple;
							font-size: 1.1rem;
							line-height: 1.8;
							margin-bottom: 2rem;

							@media all and (min-width: 540px) {
								line-height: 1.6;
							}

							@media all and (min-width: 760px) {
								margin-bottom: 2.5rem;
							}
						}
					}
				}
			}
		}

		.services-grid {
			border-bottom: none;
			border-top: 1px dashed $border_over_purple;

			@media all and (min-width: 760px) and (max-width: 1199.98px) {
				grid-template-columns: 1fr;
			}

			@media all and (min-width: 1200px) {
				grid-template-columns: repeat( 3, 1fr );
			}

			.grid-item {

				.archive-item-title {

					a {
						color: #fff;
					}
				}
			}
		}
	}

	.plugin-integration-section {

		.advanced-custom-fields-highlight {
			border-bottom: 1px dashed $border_over_white;

			@media all and (min-width: 980px) {
				padding-bottom: 2.5rem;
				padding-top: 5rem;
			}

			.acf-grid {
				display: grid;
				grid-template-columns: 1fr;

				@media all and (min-width: 1200px) {
					grid-template-columns: 1fr 2fr;
				}

				.acf-highlight-content {
					padding-bottom: 3rem;

					@media all and (min-width: 1200px) {
						padding-bottom: 0;
					}

					.advanced-custom-fields-logo {
						height: 40px;
						margin-bottom: 1rem;
					}

					.acf-highlight-title {
						font-weight: 700;
					}
				}

				.acf-graphic {

					@media all and (min-width: 1200px) {
						padding-left: 4.5rem;
					}

					img {
						border: 1px solid rgba(0,0,0,.2);
						border-radius: 11px;
					}
				}
			}
		}

		.facetwp-gravity-forms-grid {
			display: grid;
			grid-template-columns: 1fr;

			@media all and (min-width: 980px) {
				grid-template-columns: 1fr 1fr;
			}

			[class*="-grid-item"] {

				img {
					height: 23px;
					margin-bottom: 1.5rem;
				}

				&:first-child {
					border-bottom: 1px dashed $border_over_white;

					@media all and (min-width: 980px) {
						border-bottom: 0;
						border-right: 1px dashed $border_over_white;
					}
				}

				@media all and (min-width: 1200px) {
					padding-bottom: 5rem;
					padding-top: 5rem;
				}
			}
		}

		.customization-logos-wrap {

			.customizations-title {
				font-size: .75rem;
			}

			/* Customization logos Grid in _shared.scss */
		}

		.ask-about-integrations {

			p {
				font-weight: 600;
			}
		}
	}

	.theme-development-section {

		.section-content {

			@media all and (min-width: 1200px) {
				padding-right: 2.75rem;
			}
		}

		.real-data-header {

			@media all and (min-width: 1200px) {
				padding-bottom: 5rem;
			}

			.nng-stats {
				display: grid;
				gap: 2.5rem;
				grid-template-columns: 1fr;
				list-style-type: none;
				margin: 2.5rem 0 0;
				padding: 0;

				@media all and (min-width: 1200px) {
					grid-template-columns: 1fr 1fr 1fr;
				}

				li {
					border-radius: 10px;
					color: #fff;
					font-weight: 500;
					padding: 0 2rem 0 1rem;
					position: relative;

					[class*="fa-"] {
						color: $color5;
						font-size: .35rem;
						left: -1px;
						margin-bottom: 1.5rem;
						position: absolute;
						top: 9px;
					}
				}
			}
		}

		.mock-browser-grid {
			display: grid;
			grid-template-columns: 100%;
			padding-top: 0;

			@media (min-width: 1200px) {
				grid-template-columns: 2fr 1fr;
			}

			.mock-browser-wrap {

				@media all and (min-width: 1200px) {
					padding-right: 2.75rem;
				}
			}

			.design-description {
				margin-bottom: 2.5rem;
				padding-top: 2rem;

				@media all and (min-width: 1200px) {
					margin-bottom: 0;
					padding-left: 2.7rem;
				}

				.blurb-title {
					@include headingFont;
					color: #fff;
					font-weight: 700;
				}

				ul {
					padding-left: 24px;

					li {
						color: #fff;
						font-weight: 500;
						padding-bottom: 6px;

						&::marker {
							color: $color5;
						}
					}
				}
			}
		}

		.the-standard-title {
			padding-top: 0;

			span {
				font-size: 1.5rem;
				font-weight: 800;
				line-height: 1.6;
			}
		}

		.standards-grid {
			border-top: 1px dashed rgba(255,255,255,.1);

			@media all and (min-width: 1200px) {
				grid-template-columns: repeat( 3, 1fr );
			}

			.grid-item {
				border-color: rgba(255,255,255,.1);

				p {
					color: $body_over_purple;

					a {
						color: $body_over_purple;
					}
				}
			}
		}

		.cta-section-slim {

			p {
				font-weight: 600;

				.cta-link {
					display: inline;
					font-weight: 600;
				}
			}
		}
	}

	.courses-section {

		.section-heading {

			@media all and (min-width: 1200px) {
				padding-bottom: 4.5rem;
			}

			.section-description {
				display: grid;
				grid-template-columns: 1fr;

				@media all and (min-width: 980px) {
					grid-template-columns: 5fr 4fr;
				}
			}
		}
	}

	#colophon {
		border-top: 1px dashed $border_over_white;
	}
}