.page-privacy-policy {

	#site-content {

		.inner.medium {
			padding-bottom: 3.5rem;
			padding-top: 3.5rem;
		}

		.post-content-grid {

			.content-column {
				width: 100%;

				.entry-content {

					h2 {
						font-size: 1.5rem;
						font-weight: 800;
					}
				}
			}

			.sidebar-column {
				display: none;
			}
		}
	}

	#colophon {
		background-color: $gray;
	}
}