.single,
.page {

	#site-content {

		.post-thumbnail {
			margin: 0 auto;
			max-width: 1200px;
		}

		.post-content-grid {
			margin: 0 auto;
			max-width: 1600px;
		}
	}

	.post-content-grid {
		display: flex;
		flex-wrap: wrap;

		.content-column {
			width: 100%;

			@media all and (min-width: 1080px) {
				width: 66.66667%;
			}

			& > article {
				margin-bottom: 2rem;

				@media all and (min-width: 1080px) {
					margin-bottom: 3rem;
				}
			}
		}
	}
}

.single {

	.page-header {

		.page-header-title {
			text-align: center;
		}
	}

	.post-content-grid {
		justify-content: space-around;

		.post-thumbnail {
			margin-bottom: .75rem;

			img {
				border-radius: 10px;
			}
		}
	}

	&.has-post-thumbnail {

		.page-header {

			.inner {
				padding-bottom: 8rem;
			}
		}

		#site-content {

			.inner {
				padding-top: 0;
			}

			.post-thumbnail {
				margin-top: -4rem;

				img {
					box-shadow: 0 0 60px rgba(0, 0, 0, 0.4);
				}
			}
		}
	}

	.entry-meta,
	.entry-footer {
		font-size: 16px;
		font-weight: 600;

		a {
			color: $color5;
			text-decoration-color: $color5;
		}

		.updated {
			display: none;
		}
	}

	.entry-meta {
		color: $body_over_purple;
		text-align: center;

		a {
			color: #fff;
		}
	}

	.entry-content {

		& > p:first-child {
			font-size: 110%;
			font-weight: 600;
			margin-top: 2rem;

			@media all and (min-width: 1080px) {
				margin-top: 3rem;
			}
		}

		.post-password-form {

			label {
				display: block;
			}

			input[type="password"] {
				margin-bottom: 10px;
				max-width: 300px;
			}
		}
	}

	.entry-footer {
		color: $gray_text;
		margin-top: 1.5rem;

		.image-attribution {
			font-size: 14px;
			margin-top: 6px;
		}

		a {
			color: darken( $gray_text, 20% );
		}
	}
}

.page {

	.page-header {

		.page-header-title {

			@media all and (min-width: 960px) {
				max-width: 85%;
			}
		}
	}

	.content-column {

		@media all and (min-width: 1080px) {
			padding-right: 4.5rem;
		}
	}

	.sidebar-column {
		width: 100%;

		@media all and (min-width: 1080px) {
			width: 33.33333%;
		}

		.sidebar {
			font-size: .88rem;
			margin-top: 2rem;

			@media all and (min-width: 1080px) {
				margin-top: 0;
			}

			.widget {

				&:not(:last-child) {
					margin-bottom: 2rem;

					@media all and (min-width: 1400px) {
						margin-bottom: 3rem;
					}
				}

				ul {
					list-style-type: unset;
					list-style-position: outside;
					margin-left: 1rem;

					li {
						margin-bottom: .75rem;

						&:not(:last-child) {
							margin-bottom: .75rem;
						}

						&::marker {
							color: $color5;
						}
					}
				}

				&.widget_search {

					label {
						color: $headings;
						display: block;
						margin-bottom: 4px;
						text-transform: unset;
					}

					input {
						background-color: $gray;
						border-color: $color5;

						&:focus,
						&:active {
							border-color: $color6;
						}

						&::-webkit-input-placeholder {
							color: lighten( $body_light, 30% );
						}
					}
				}

				&.widget_recent_entries {

					ul {

						li {

							a {
								color: $color2;
								display: block;
								font-weight: 700;
								text-decoration-color: $color5;

								&:active,
								&:focus,
								&:hover {
									color: $color2;
									text-decoration-color: $color5;
								}
							}
						}
					}
				}
			}
		}
	}
}